* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div.header {
    color: rgb(211, 97, 97);
    font-size: x-large;
    height: 100px;
    background-color: rgb(255, 237, 184);
    display: flex;
}

div.main {
    width: 1000px;
    height: 600px;
    background-color: aquamarine;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 1000px;
    height: 600px;
}

.left, .right {
    background-color: black;
    color: aliceblue;
    opacity: 60%;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 50px;
    margin: 10px;
    font-size: large;
    font-weight: 400;
    border: none;
}


button.left {
    left: 0;
}

button.right {
    right: 0;
}